google_api_python_client
google_auth_oauthlib
google-generativeai
groq
loguru
matplotlib
nltk
numpy
openai
pandas
protobuf
pymongo
python-dotenv
python_dateutil
PyYAML
PyYAML
rouge_score
ruamel.base
tqdm

